:root {
    --bg-color:#0b0e11;
    --card-bg:#1e2329;
    --text-main:#eaecef;
    --text-dim:#848e9c;
    --green:#00ff00;
    --red:#ff0000;
    --orange:#ffa500;
    --border:#2b3139;
}

body {
    margin:0;
    background:var(--bg-color);
    color:var(--text-main);
    font-family:Segoe UI;
}

.container {
    max-width:1400px;
    margin:auto;
}

h1,h2 { text-align:center; color:var(--orange); }

.stats-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:10px;
}

.stat-card,.card,.mm-box,.section-box {
    background:var(--card-bg);
    border:1px solid var(--border);
    padding:15px;
    border-radius:10px;
}

.stat-val { font-weight:bold; }

.mm-box {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
    gap:10px;
}

input,select,button {
    padding:10px;
    background:#161a1e;
    color:white;
    border:1px solid var(--border);
}

button { cursor:pointer; }

.val-gain { color:var(--green); }
.val-perte { color:var(--red); }

.table-container { overflow-x:auto; }

table { width:100%; border-collapse:collapse; }

th { background:#111827; padding:10px; }
td { padding:10px; border-bottom:1px solid var(--border); }

.actions { display:flex; gap:10px; flex-wrap:wrap; }

#ai-box {
    border:1px solid var(--orange);
    margin-top:10px;
}
